.icon-button{
  border: none;
  background: transparent;
}
.button{
  padding: .5rem 1rem;
  border: none;
  background: transparent;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

