@import "varibles";
@import "fonts";
@import "color";
@import "forms";
@import "grid";
@import "button";
@import "typography";
@import "responsive";


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  list-style: none;

  a{
    color: unset;
    text-decoration: none;
    text-underline: none;
  }
  &:active{
    outline: 0;
  }
  &:focus{
    outline: 0;
  }
}

.uo-list{
  list-style: none;
}

.wrapper{
  margin: 0 auto;
  width: 85%;
}
body{
  background: $light;
  //overflow: hidden;
}
.hero{
  position: relative;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  background-size: cover;
  //background: url("/imgs/pexels-photo-731082.jpeg") no-repeat;
  background: $light;
  vertical-align: center;
  horiz-align: center;
  .wrapper{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    width: 85%;
    height: 100vh;
  }
  .text-content{
    color: $dark;
    width: 50%;
  }
  .hero-footer{
    position: absolute;
    bottom: 40px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    width: 100%;
  }
}
.header-top{
  position: absolute;
  top: 0;
  width: 100%;
  height: 100px;
  box-sizing: content-box;
  z-index: 9999;
  .holder{
    height: 100px;
    .header-navigation{
      .active-link{
        color: $primary;
        font-weight: bold;
        border-bottom: 3px $primary solid;
        padding-bottom: 10px;
      }
      a{
        &:hover{
          color: $primary;
        }
      }
    }
  }
}
.header-top.fixed{
  position: fixed;
  top: 0;
  height: 60px;
  background: $light;
  box-shadow: $box-shadow;
  z-index: 9999;
  .holder{
    height: 60px;
  }
}
.pagination{
  .active,
  .page-number{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .active{
    color: $light;
    background: $dark;
  }
}
.search{
  padding: .5rem 1rem;
  background: $lite-grey;
  border-radius: 5px;
  height: 40px;
  width: 340px;
  input{
    height: 40px;
    background: transparent;
    border: none;
  }

}

.item-card{
  width: 100%;
  //background: $lite-grey;
  .item-card-cover{
    width: 100%;
    height: 100px;
    border-radius: 10px;
    object-fit: contain;
    overflow: hidden;
    img{
      width: 100%;
      transition: all 150ms ease-in-out;
    }
  }
  &:hover .item-card-cover img{
    transform: scale(1.5);
    transition: all 150ms ease-in-out;
  }
  &:hover .view-button {
    background:  $secondary;
    color: $light;
    transition: all 100ms ease-in-out;
  }
}
.contact{
  .wrapper{
    width: 65%;
  }
}
.map-holder{
  width: 100%;
  height: 350px;
  border-radius: 10px;
  overflow: hidden;
  iframe{
    width: 100%;
    height: 350px;
    border: none;
  }
}
.about{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.opacity-low{
  opacity: 0.3;
}