.text-center{
  text-align: center;
}
.text-left{
  text-align: left;
}
.text-right{
  text-align: right;
}
.text-muted{
  color: #e1e1e1;
}
.text-cap{
  text-transform: capitalize;
}
.text-upper{
  text-transform: uppercase;
}
.fb-r{
  font-weight: bolder;
}
.fb{
  font-weight: bold;
}
.fl{
  font-weight: lighter;
}
.fl-1{
  letter-spacing: 1rem;
}

.fs-1{
  font-size: 1rem;
}
.fs-2{
  font-size: 2rem;
}
.fs-3{
  font-size: 3rem;
}
.fs-4{
  font-size: 4rem;
}
.fs-5{
  font-size: 5rem;
}